:root{
    --color-principal-obscuro: #000080;
    --color-principal-claro: #f9f9f9ff;
    --color-secundario1: #3297dbff;
    --color-secundario2: #D3D3D3;
    --color-secundario3: #999999;
    --color-contraste1:#FFD700;
    --color-contraste2: #008000;
    --color-contraste3:#FFA500;
}